---
import { buttonVariants } from "@/components/ui/button";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout
  title="Akselerasi"
  description="Akselerasi"
>
  <section
    class="container px-4 mx-auto grid items-center gap-6 pt-6 pb-8 md:py-10"
  >
    Coming soon...
  </section>
</BaseLayout>
