<footer class="border-t py-1 md:px-8 md:py-0">
  <div
    class="container flex flex-col items-center justify-start gap-4 h-fit py-3"
  >
    <p class="text-muted-foreground text-center text-sm">
      Built by
      <a
        href="https://roniar.dev"
        target="_blank"
        rel="noreferrer"
        class="font-bold underline underline-offset-2"
      >
        roniar.dev
      </a
    </p>
  </div>
</footer>
