---
import ThemeToggle from "@/components/ThemeToggle.astro";
import { buttonVariants } from "@/components/ui/button";
---

<header
  class="sticky top-0 z-50 w-full border-b bg-background/95 backdrop-blur supports-backdrop-filter:bg-background/60"
>
  <div class="px-4 mx-auto flex py-3 items-center justify-between">
    <a
      href="/"
      class="flex items-center gap-2 text-lg font-black"
      aria-label="Homepage"
    >
      <span>aksi.dev</span>
    </a>

    <nav class="flex items-center gap-2">
      <a
        href="https://github.com/area44/astro-shadcn-ui-template"
        target="_blank"
        rel="noopener noreferrer"
        class={buttonVariants({ variant: "ghost" })}
      >
        GitHub
      </a>
      <ThemeToggle />
    </nav>
  </div>
</header>
